.buttonList {
    display: flex;
    gap: 10px;
}


.buttonStyle {
    padding: 0 10px;
   
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    text-transform: capitalize;

    

}

.buttonStyle:hover {
    background-color:dodgerblue;
}